* {
  margin: 0;
  padding: 0;
}
/*CSS for Home*/
.home-container {
  width: 100%;
  min-height: 87vh;
  display: flex;
  gap: 30px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #2596be;
  background: linear-gradient(135deg, #0f172a, #1e293b);
}
/*CSS for navbar*/
.app-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.app-name {
  color: #2596be;
}
.nav-comp {
  margin-right: 50px;
}
.nav-font {
  font-size: 20px;
  margin-top: 10px;
}
.logo-image {
  height: 80px;
  width: 80px;
  object-fit: cover;
}
