* {
  margin: 0;
  padding: 0;
}
/*CSS for Home*/
.home-container {
  width: 100%;
  min-height: 87vh;
  display: flex;
  gap: 30px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #2596be;
  background: linear-gradient(135deg, #0f172a, #1e293b);
}
/*CSS for navbar*/
.app-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.app-name {
  color: #2596be;
}
.nav-comp {
  margin-right: 30px;
}
.nav-font {
  font-size: 20px;
  margin-top: 10px;
}
.logo-image {
  height: 80px;
  width: 80px;
  object-fit: cover;
}
.profile-pic{
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.user-section{
  display:flex;
  align-items: center;
  gap: 3px;
}
.login-tooltip {
  position: absolute;
  top: 95%;
  right: 0;

  background: white;
  color: #111827;

  padding: 0.7rem 1rem;
  border-radius: 12px;

  font-size: 0.85rem;
  white-space: nowrap;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  z-index: 100;
}

.login-tooltip::before {
  content: "";

  position: absolute;
  top: -6px;
  right: 50px;

  width: 12px;
  height: 12px;

  background: white;
  transform: rotate(45deg);
}

/*Games*/
img{
  height: 300px;
  width: 300px;
  object-fit: cover;
}
.card-body{
  background-color: aliceblue;
  text-align: center;
}
